*{
	box-sizing: border-box;
}
a{
	color: inherit;
	text-decoration: none;
}
body{
	font-family: arial;
}
.container{
	width: 1024px;


	margin:0 auto;
}
.header-site{
	background-color: black;
}
.title-site{
	float: left;
	margin-top: 20px;
	margin-left: 20px;
	margin-bottom: 20px;
}
.nav-site{
	float: right;
	color: white;
}
.item-nav{
	display: inline-block;
	vertical-align: top;
	padding: 29px;
	border-left: 2px solid #e2e2e2;
}
.img-services{
	float: left;
}
.detail-info{
	width: 594px;
	float: right;
	margin-left: 30px;
	padding-top: 15px;
	padding-bottom: 15px;
}
.detail-info p{
	margin-bottom: 10px;
	line-height: 1.3;
	font-size: 17px;
}


.section-services{
	padding-top: 40px;
	padding-bottom: 50px;
}
.title-section{
	text-align: center;
	font-weight: bold;
	font-size: 30px;
	margin-bottom: 15px;
}
.intro-section{
	font-size: 20px;
	text-align: center;
	margin-bottom: 30px;

}
.clear{
	clear: both;
}