body{
	font-family: arial;
}
.header-site{
	background-color: #ececec;

}

.nav-site ul li{
	display: inline-block;
	vertical-align: top;
	padding: 20px;
	margin:10px;
	font-weight: bold;
	color: black;
	text-transform: uppercase;
}
.contenido{

width: 800px;
margin:0 auto;}